connect_four/solve
crossword/c2.py
crossword/c2.py.bak
crossword/dict.txt
crossword/grid.txt
crossword/grid2.txt
crossword/grid3.txt
crossword/mini_dict.txt
crossword/venv/
crossword/words.txt
crossword/words2.txt
crossword/xword.z3
crossword/z3/
sudoku/solve
sudoku/sudoku.js
sudoku/sudoku.js.map